@charset "UTF-8";
/*////////////////////////////////////////////////////

  変数、mixin、プレースホルダー 定義　適宜変更・追加すること

////////////////////////////////////////////////////*/

.dlBasic01, .section, .container-inner, .boxTxt {
  *zoom: 1;
}
.dlBasic01:after, .section:after, .container-inner:after, .boxTxt:after {
  content: "";
  display: table;
  clear: both;
}

/*////////////////////////////////////////////////////

    リセット

////////////////////////////////////////////////////*/
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}

html, body {
  width: 100%;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  border: none;
  vertical-align: top;
  zoom: 1;
}

/*////////////////////////////////////////////////////

	フォント・文字サイズ設定

////////////////////////////////////////////////////*/
html {
  font-size: 62.5%;
}

body {
  /*font size自動調整をきる*/
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "dnp-shuei-gothic-kin-std", sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka;
  line-height: 1.6;
  letter-spacing: 0.1em;
}

.en {
  font-family: "Nimbus Sans";
}

/*////////////////////////////////////////////////////

	汎用リンク

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	gnav
------------------------------------------------ */
/* ------------------------------------------------
	ベース設定
------------------------------------------------ */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a {
  text-decoration: none;
}
/* ------------------------------------------------
	テキストリンク
------------------------------------------------ */
/* インラインリンク */
a.link01 {
  position: relative;
}

a.link02 {
  -webkit-transition: all 0.4s cubic-bezier(0, 0.01, 0, 1.02);
  transition: all 0.4s cubic-bezier(0, 0.01, 0, 1.02);
  background: #f3f3f3;
  padding: 5px 10px;
  height: 10px;
  border-radius: 10px;
}

/*　ブロックリンク　*/
/* ------------------------------------------------
	ボタン
------------------------------------------------ */
.btn01 {
  color: var(--font-color03);
  text-align: center;
}
.btn01 > a {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  color: var(--font-color03);
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #333333;
}
.btn01 > a:hover {
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* ------------------------------------------------
	sns 
------------------------------------------------ */
a.sns-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
}
a.sns-btn img {
  position: relative;
  z-index: 2;
}
a.sns-btn:before {
  content: "";
  -webkit-transition: all 0.5s cubic-bezier(0, 0.49, 0.05, 0.99);
  transition: all 0.5s cubic-bezier(0, 0.49, 0.05, 0.99);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
a.sns-btn:hover:before {
  display: inline-block;
  z-index: 1;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

a.sns-btn-c01 {
  background: #333333;
}
a.sns-btn-c01:before {
  background: #333333;
}

/*////////////////////////////////////////////////////

		body,html
		header
		main
		footer

		htmlタグに対しての設定のみ記述すること

////////////////////////////////////////////////////*/
body {
  width: 100%;
  max-width: 2400px;
  background: #f6f5ed;
}
body:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 15px solid #ffe404;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
  z-index: 9999;
}

header {
  height: auto;
  width: 100%;
  z-index: 9998;
  position: sticky;
  left: 0;
  top: 0;
  -webkit-transition: all 0.6s cubic-bezier(1, 0, 0.29, 1);
  transition: all 0.6s cubic-bezier(1, 0, 0.29, 1);
}

main {
  width: 100%;
}

aside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

footer {
  width: 100%;
  position: relative;
}

/*////////////////////////////////////////////////////

	汎用レイアウト（レイアウトセット参照）
		ここではレイアウトに関わるスタイルのみ記載し、
		背景色や背景画像、ボーダー、シャドウなどのデザインバリエーションは、
		_pattern.scss内に継承クラスで指定すること
		（例：.wrapper01.style01）
		l-header
		l-header-inner 内側の枠
		l-header-outer　外側の枠

		l-frame > l-container > l-contents > l-box

		l-frame コンテンツ部分の大枠　ページタイトルとコンテンツの区切り
		l-container　コンテンツの内枠
		l-contents　H1見出し区切り

////////////////////////////////////////////////////*/
/* ------------------------------------------------
   header
------------------------------------------------ */
.l-header {
  margin: 0 auto;
  height: 180px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 117px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 130px;
  --nav-harf: 60px;
  --logo-width-harf:65px;
  --logo-position:calc(var(--logo-width-harf) - var(--nav-harf));
  left: calc(50% - var(--logo-position));
}
.logo img {
  width: 100%;
}

.h-logo {
  width: 100%;
  fill: var(--base-color01);
}

.gnav-botton {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.8s cubic-bezier(0, 0.32, 0.35, 0.96);
  transition: all 0.8s cubic-bezier(0, 0.32, 0.35, 0.96);
}

.gnav-botton-inner {
  width: 48px;
  height: 48px;
  background: #333333;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.gnav-botton-inner:before {
  display: inline-block;
  content: "";
  background: #333333;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.49, 0.05, 0.99);
  transition: all 0.5s cubic-bezier(0, 0.49, 0.05, 0.99);
}
.gnav-botton-inner:hover:before {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  display: inline-block;
}

.gnav-line {
  width: 22px;
  height: 2px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}
.gnav-line:nth-child(1) {
  top: -5px;
}
.gnav-line:nth-child(3) {
  top: 5px;
}

/* ------------------------------------------------
   ナビゲーション
------------------------------------------------ */
.l-gnav {
  position: fixed;
  visibility: hidden;
  width: 100vw;
  height: 0;
  overflow-y: scroll;
  top: 0;
  background: #fff;
  -webkit-transition: all 0.8s cubic-bezier(0, 0.92, 0.43, 1.01);
  transition: all 0.8s cubic-bezier(0, 0.92, 0.43, 1.01);
}
.l-gnav .gnav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 250px;
  width: 100%;
  height: 100%;
}
.l-gnav .gnav-menu-inner {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.l-gnav .gnav-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
}
.l-gnav .gnav-menu-list li {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: lighter;
  line-height: 1;
  height: auto;
  font-weight: bold;
}
.l-gnav .gnav-menu-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-top: 40px;
}
.l-gnav .gnav-menu-sns li {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.l-gnav .gnav-menu-sns li:before {
  content: "";
  background: #333;
  border-radius: 50%;
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.49, 0.05, 0.99);
  transition: all 0.5s cubic-bezier(0, 0.49, 0.05, 0.99);
}
.l-gnav .gnav-menu-sns li:hover {
  cursor: pointer;
}
.l-gnav .gnav-menu-sns li:hover:before {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  display: inline-block;
}
.l-gnav .gnav-menu-sns li a {
  display: contents;
}
.l-gnav .gnav-menu-sns li img {
  width: 65%;
  height: 65%;
  z-index: 1;
}
.l-gnav .gnav-menu-sns li:nth-child(2) img {
  width: 60%;
  height: 60%;
}

/* ------------------------------------------------
	l-grid l-frame
------------------------------------------------ */
.l-frame {
  margin: 0 auto 120px auto;
  position: relative;
  width: 93.05556%;
}

.l-frame-outer {
  margin: 0 auto;
  position: relative;
}

.l-entry {
  margin: 20px auto 0px auto;
  width: 100%;
}
.l-top .l-entry {
  margin: 80px auto 200px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-container {
  width: 100%;
}

.l-contents {
  width: 100%;
  margin-top: 100px;
}
.l-list .l-contents {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 80px;
}
.l-contents .l-list {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 80px;
}
.l-local .l-contents {
  margin-top: 0;
  margin-bottom: 120px;
}
.l-local .l-contents:last-child {
  margin-bottom: 0;
}
.l-local .l-contents .detail-content {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.l-local .l-contents .detail-content .detail-box {
  grid-row: 1;
  grid-column: 2/3;
}
.l-local .l-contents .detail-content .detail-aside {
  grid-row: 1;
  grid-column: 1/2;
}

.contents-list .box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contents-list .date {
  margin-bottom: 10px;
  font-size: 10px;
  font-size: 1rem;
  color: #808080;
}
.contents-list .box-img img {
  width: 100%;
  height: auto;
}
.contents-list .box-txt {
  margin-top: 20px;
}
.contents-list .box-txt .box-tit {
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 3px;
  letter-spacing: 0.3rem;
}

/* ------------------------------------------------
	l-grid l-aside
------------------------------------------------ */
/* ------------------------------------------------
	l-grid l-footer
------------------------------------------------ */
.l-footer {
  background: #ffe404;
  padding-top: 30px;
}

.l-footer-inner {
  width: 93.05556%;
  margin: 60px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.f-logo-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer-logo {
  width: 30%;
}
.footer-logo .f-logo img {
  width: 170px;
}

.f-link-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.f-link-sns li {
  width: 36px;
  height: 36px;
}
.f-link-sns li img {
  width: 16px;
  height: 16px;
}

.f-txt {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 20px;
  border-top: 1px solid #333333;
  width: 100%;
  padding-top: 20px;
}

.footer-link-box {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.footer-link {
  /*margin-top:40px;*/
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-link .f-tit {
  font-size: 14px;
  font-size: 1.4rem;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.footer-link .f-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.footer-link .f-link li {
  font-size: 14px;
  font-size: 1.4rem;
}
.footer-link .f-link li:last-child {
  margin-right: 0px;
}

.copy {
  width: 93.05556%;
  margin: 60px auto 0 auto;
  font-size: 12px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 15px;
}

/* ------------------------------------------------
	パンクズ
------------------------------------------------ */
.breadcrumb {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.breadcrumb li {
  color: #808080;
  font-size: 16px;
  font-size: 1.6rem;
}
.breadcrumb li a {
  color: #808080;
}
.breadcrumb li:after {
  position: relative;
  display: inline-block;
  content: "/";
  margin: 0 5px;
  color: #808080;
}
.breadcrumb li:last-child:after {
  display: none;
}

#contents {
  width: 100%;
  margin: 0 auto;
}

/* ------------------------------------------------
	#contentsエリアここから
------------------------------------------------ */
#contents {
  width: 100%;
}

/* ------------------------------------------------
	.wrapper コンテツの外枠
------------------------------------------------ */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 0 50px;
  padding: 0 5rem;
  margin-bottom: 0;
}

/* ------------------------------------------------
	.container コンテンツの枠　大見出しで区切る場合
------------------------------------------------ */
.container {
  width: 100%;
  margin: 5px auto 160px auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container.noSpace {
  padding: 0;
}
.container.top {
  margin-bottom: 0px;
  margin-top: 0px;
}
.container.top-space {
  margin-top: 0px;
}
.container:first-child {
  margin-top: 0;
}

.container-inner {
  width: 78.6%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container-inner:first-child {
  margin-top: 0;
}
.container-inner.noSpace {
  padding: 0;
}

.container-outer {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* ------------------------------------------------
	.boxContent containerの内側でコンテツつを区切る場合
------------------------------------------------ */
.content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.edit .content {
  margin-bottom: 120px;
}
.edit .content:last-child {
  margin-bottom: 160px;
}

/* ------------------------------------------------
	.innerシリーズここから
------------------------------------------------ */
.inner01 {
  padding: 0;
}

/* ------------------------------------------------
	.sectionシリーズここから
------------------------------------------------ */
.section:last-child {
  margin-bottom: 0;
}
/*////////////////////////////////////////////////////

	汎用レイアウト（レイアウトセット参照）
		ここではレイアウトに関わるスタイルのみ記載し、
		背景色や背景画像、ボーダー、シャドウなどのデザインバリエーションは、
		_pattern.scss内に継承クラスで指定すること
		（例：.wrapper01.style01）

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	.boxListシリーズここから
------------------------------------------------ */
/*////////////////////////////////////////////////////

	汎用レイアウト（レイアウトセット参照）
		ここではレイアウトに関わるスタイルのみ記載し、
		背景色や背景画像、ボーダー、シャドウなどのデザインバリエーションは、
		_pattern.scss内に継承クラスで指定すること
		（例：.wrapper01.style01）

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	.boxFlexContentシリーズここから
------------------------------------------------ */
.box-flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*IE9以下*/
}
.box-flex-content.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.box-flex-content.type01 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.box-flex-content.type01 > .box-img {
  width: 34.8%;
}
.box-flex-content.type01 > .box-content {
  width: 65.2%;
}
.box-flex-content.type02 > .box-img {
  width: 34.8%;
}
.box-flex-content.type02 > .box-content {
  width: 65.2%;
}

/* ------------------------------------------------
	.box-flexListシリーズここから
------------------------------------------------ */
.flexList01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.flexList01 > .box-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
}
.flexList01.type01 > .box-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 13%;
  height: auto;
}

/*////////////////////////////////////////////////////

	汎用スタイルパターン（レイアウトセット参照）
		ここでは_layout.scssなどで用意したレイアウトパターンに適用する
		スタイルのバリエーション(背景色や背景画像、ボーダー、シャドウなど)を継承クラスとして指定してください。
		例：
			.wrapper01,
			.wrapper02 {
				&.style01 {

				}
				&.style02 {

				}
			}

////////////////////////////////////////////////////*/
.ico-circle {
  width: 60px;
  height: 60px;
  /* 50%でもOK */
  border-radius: 50%;
}

.bg-w {
  background: #fff;
}

.bg- {
  background: #ffe404;
}

.border01 {
  border-top: solid 1px #ffe404;
}

/*////////////////////////////////////////////////////

	テキスト、見出しの汎用スタイル

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	テキスト
------------------------------------------------ */
/* ------------------------------------------------
	見出し
------------------------------------------------ */
.nav-title {
  font-size: 26px;
  font-size: 2.6rem;
}

.tit-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-size: 2.8rem;
  position: relative;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}
.tit-01:before {
  content: "";
  top: 52px;
  background: #ffe404;
  height: 16px;
  width: 60px;
  border-radius: 3px;
  position: absolute;
}
.tit-01 span:before, .tit-01 span:after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-block;
}
.tit-01 span:before {
  content: "";
  background: url("/wp-content/themes/custom/img/common/tit01.svg");
  width: 32px;
  height: 32px;
  left: -2px;
  top: -22px;
}
.tit-01 span:after {
  content: "";
  background: url("/wp-content/themes/custom/img/common/tit02.svg");
  width: 32px;
  height: 32px;
  left: 0;
  top: -20px;
}

/*
# リストスタイル .ulBasic01

ここにコメントとか説明入れたりすると便利！

標準の箇条書きリストスタイル`.ulBasic01`

```
<ul class="ulBasic01">
	<li>箇条書きリスト</li>
	<li>箇条書きリスト</li>
	<li>箇条書きリスト</li>
</ul>
```
*/
.ulBasic01 li {
  padding-left: 15px;
  position: relative;
}
.ulBasic01 li:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 2px;
  border-radius: 100%;
}

.ulBasic {
  width: 100%;
  margin-top: 3px;
}
.ulBasic li {
  position: relative;
  margin: 0 0 10px 15px;
}
.ulBasic li:first-child {
  margin-top: 10px;
}
.ulBasic li:last-child {
  margin-bottom: 0px;
}

/*
# リストスタイル .ulList01

「/」で区切る並列リスト`.ulList01`

```
<ul class="ulList01">
	<li>箇条書きリスト</li>
	<li>箇条書きリスト</li>
	<li>箇条書きリスト</li>
</ul>
```
*/
.ulList01 {
  text-align: center;
}
.ulList01.left {
  text-align: left;
}
.ulList01 li {
  white-space: nowrap;
  display: inline-block;
  padding: 5px 10px 0 0;
}
.ulList01 li:after {
  content: "/";
  padding-left: 10px;
}
.ulList01 li:last-child:after {
  display: none;
}

.ulCaution01 {
  padding-left: 1em;
}
.ulCaution01 li {
  text-align: left;
  text-indent: -1em;
}

/*////////////////////////////////////////////////////

	汎用リスト

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	ol li
------------------------------------------------ */
.olBasic01 li {
  list-style: decimal;
  margin-left: 2em;
}

/*////////////////////////////////////////////////////

	汎用リスト

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	記述リスト dl dt dd
------------------------------------------------ */
.dlBasic01 dt:first-child, .dlBasic01 dt:nth-child(2), .dlBasic01 dd:first-child, .dlBasic01 dd:nth-child(2) {
  padding-top: 0;
}
.dlBasic01 dt:last-child, .dlBasic01 dt:nth-last-child(2), .dlBasic01 dd:last-child, .dlBasic01 dd:nth-last-child(2) {
  padding-bottom: 0;
}
.dlBasic01 dt {
  clear: both;
  float: left;
  width: 140px;
  line-height: 1.4;
}
.dlBasic01 dd {
  margin-left: 140px;
  position: relative;
}
.dlBasic01 dd:before {
  position: absolute;
  left: 0;
}
.dlBasic01 dd:nth-child(2):before {
  top: 8px;
}

.dlInquiry01 {
  display: table;
  width: 100%;
}
.dlInquiry01 > dt, .dlInquiry01 > dd {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/*////////////////////////////////////////////////////

	汎用テーブル 
		※入れ子にした際に孫のテーブルにスタイルが引き継がれないよう、
		　　&>を使用したスタイル設定を推奨

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	テーブル
------------------------------------------------ */
/*ベーシックなテーブルスタイル*/
/*装飾のないシンプルなテーブル*/
.tb_simple01 {
  width: auto !important;
  border: none !important;
  background: none !important;
}
.tb_simple01 > tr > th, .tb_simple01 > tr > td {
  text-align: left !important;
  vertical-align: top !important;
  width: auto !important;
  border: none !important;
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.tb_simple01 > tr > th {
  white-space: nowrap;
  padding-right: 1em;
}

/*////////////////////////////////////////////////////

	その他の汎用スタイル

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	デバイスごとの表示切り分け
	例： <br class="pc">
------------------------------------------------ */

/* ------------------------------------------------
	color
------------------------------------------------ */
/* ------------------------------------------------
	囲み枠
------------------------------------------------ */
/* ------------------------------------------------
	画像スタイル
------------------------------------------------ */
/* ------------------------------------------------
	タブ
------------------------------------------------ */
/* ------------------------------------------------
	スペース
------------------------------------------------ */
.space-topXL {
  margin-top: 80px;
}

/*////////////////////////////////////////////////////

	ページごとの個別スタイル
	※サイト規模によってはさらにファイルを分けること

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	トップページここから
------------------------------------------------ */
.l-box {
  opacity: 0;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.l-box section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-box {
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 86px;
}
.tab-group .tab {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
  cursor: pointer;
  height: 86px;
  background: #f6f5ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 1px;
  z-index: 1;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.49, 0.05, 0.99);
  transition: all 0.5s cubic-bezier(0, 0.49, 0.05, 0.99);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tab-group .tab img {
  position: relative;
  left: -10px;
}
.tab-group .tab:nth-child(1) img {
  top: -4px;
}
.tab-group .tab:hover {
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.tab-box-inner {
  padding: 80px 0;
}

.panel-group {
  height: auto;
}

.panel {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: none;
}

.tab.is-active {
  background: #fff;
  color: #333333;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.tab.is-active:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.tab-A.tab-border {
  border-top: solid 1px #ffe404;
  border-bottom: solid 1px #ffe404;
  border-left: solid 1px #ffe404;
  border-right: solid 1px #ffe404;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab-B.tab-border {
  border-top: solid 1px #ffe404;
  border-bottom: solid 1px #ffe404;
  border-right: solid 1px #ffe404;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab-A.is-active, .tab-B.is-active {
  border-bottom: none;
}

.panel.is-show {
  display: block;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}
.tag-box li {
  background: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  height: 20px;
  padding: 8px 20px 10px 20px;
}

.mv-box {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  width: 100%;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.mv-inner-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.mv-inner-c .c-img img {
  max-width: 100%;
  height: auto;
}
.mv-inner-c .c-txt img {
  max-width: 100%;
  height: auto;
}

.mv-inner-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mv-inner-l .mv-img-box01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mv-inner-l div img {
  max-width: 100%;
  height: auto;
}

.mvanimation {
  -webkit-animation: mvtxt01 2s cubic-bezier(0, 0.58, 0.25, 1) 0 1 normal;
          animation: mvtxt01 2s cubic-bezier(0, 0.58, 0.25, 1) 0 1 normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes mvtxt01 {
  0% {
    opacity: 0;
    top: 35px;
  }
  20% {
    opacity: 1;
    top: -18px;
  }
  80% {
    top: -18px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@keyframes mvtxt01 {
  0% {
    opacity: 0;
    top: 35px;
  }
  20% {
    opacity: 1;
    top: -18px;
  }
  80% {
    top: -18px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

/* ------------------------------------------------
  使い回しアイテム
------------------------------------------------ */
.category-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 5px;
}
.detail-aside .category-tag {
  margin-top: 0px;
  padding: 8px 0 8px 0;
}
.category-tag li {
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
  font-family: "nimbus-sans,sans-serif";
  font-weight: 300;
  font-style: normal;
}
.category-tag li a {
  color: #333333;
}

.type-tag {
  margin-top: auto;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  border-top: 1px solid var(--bg-color07);
  padding-top: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 22px;
}
.type-tag li {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "nimbus-sans,sans-serif";
  font-weight: 300;
  font-style: normal;
}
.type-tag li a {
  color: #333333;
}
.type-tag li:last-child {
  margin-right: 0;
}
.detail-aside .type-tag {
  border: none;
  padding: 0px 0 16px 0;
  margin-top: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* ------------------------------------------------
  一覧ページここから
------------------------------------------------ */
.entry-box {
  margin: 140px 0 180px 0;
}
.l-list .entry-box {
  margin: 80px 0 80px 0;
}

.inner-entry-box {
  width: 70%;
  margin: 0 auto;
  font-size: 30px;
  font-size: 3rem;
}
.inner-entry-box .date {
  font-size: 16px;
  font-size: 1.6rem;
  color: #808080;
  margin-bottom: 30px;
}

/* ------------------------------------------------
  記事ページここから
------------------------------------------------ */
.detail-aside .detail-box-inner {
  position: sticky;
  top: 120px;
}
.detail-aside .detail-info {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333333;
}
.detail-aside .detail-info li {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "nimbus-sans,sans-serif";
  font-weight: 300;
  font-style: normal;
  width: 100%;
  margin-bottom: 10px;
}
.detail-aside .detail-info li:nth-child(odd) {
  background: #f6f5ed;
}
.detail-aside .detail-info .agenda {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "nimbus-sans,sans-serif";
  font-weight: bold;
  font-style: normal;
  display: block;
  position: relative;
}
.detail-aside .detail-link {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 30px auto 0 auto;
  width: 60%;
}

.content-movie {
  margin-bottom: 30px;
}

.movie {
  position: relative;
  padding-bottom: 56.25%;
  /* アスペクト比16:9の場合 */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 1px solid #333333;
}
.movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detain-innerbox {
  margin-bottom: 40px;
}
.detain-innerbox:last-child {
  margin-bottom: 0;
}

/* ------------------------------------------------
  記事ページ 同じアーティストの曲
------------------------------------------------ */
.detail-box-same {
  margin-top: 80px;
}

.detail-box-contents {
  width: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
  margin-top: 40px;
}

/* ------------------------------------------------
  記事ページ 似た曲の表示設定
------------------------------------------------ */
.similar-box {
  background: #fff;
  padding: 100px 0;
  padding: 10rem 0;
}
.similar-box .similar-box-inner {
  margin: 100px auto 0 auto;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  width: 93.05556%;
}

.crp-list-title {
  display: none;
}

/* ------------------------------------------------
  検索件数
------------------------------------------------ */
.number {
  display: none;
}

/* ------------------------------------------------
  404
------------------------------------------------ */
.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 120px 0 40px 0;
}

.not-found-text01 {
  font-size: 180px;
  font-size: 18rem;
  color: var(--font-color04);
  font-weight: bold;
  line-height: 1;
}

.not-found-text02 {
  font-size: 60px;
  font-size: 6rem;
  color: var(--font-color04);
  font-weight: bold;
  line-height: 1;
}

.not-found-link {
  margin-top: 60px;
  border: 1px solid #333333;
}
.not-found-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 60px;
  color: #333333;
}

/*////////////////////////////////////////////////////

	状態の変化があるcssを書く

	is-○○　系統

////////////////////////////////////////////////////*/
.is-view {
  overflow-y: hidden;
}
.is-view .l-gnav {
  visibility: visible;
  opacity: 1;
  z-index: 9997;
  height: 100vh;
  -webkit-transition: all 0.8s 0s ease-in-out;
  transition: all 0.8s 0s ease-in-out;
}
.is-view .gnav-line {
  -webkit-transition: all 0.2s 0s ease-in-out;
  transition: all 0.2s 0s ease-in-out;
}
.is-view .gnav-line:nth-child(2) {
  display: none;
}
.is-view .gnav-line:nth-child(1) {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.is-view .gnav-line:nth-child(3) {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0px;
}

.is-load .spin {
  display: block !important;
}
.is-load .num {
  display: none;
}

.lazyload {
  opacity: 0;
}

.is-lazyload {
  opacity: 1;
  -webkit-transition: all 2.6s cubic-bezier(0, 0.48, 0.12, 0.99);
  transition: all 2.6s cubic-bezier(0, 0.48, 0.12, 0.99);
}

.non-active {
  display: none !important;
}

/* ------------------------------------------------
	サイドメニュー
------------------------------------------------ */
/* ------------------------------------------------
	language
------------------------------------------------ */
.other {
  opacity: 0;
}

.is-l-box {
  opacity: 1;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

#typewriter::after {
  content: "|";
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1025px) {
  .link-gnav {
    position: relative;
  }
  .link-gnav:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    margin: -12px 0 0 -12px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    opacity: 0;
  }
  .link-gnav:hover {
    cursor: pointer;
  }
  .link-gnav:hover:after {
    -webkit-animation: circle 0.5s;
            animation: circle 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  @-webkit-keyframes circle {
    0% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      opacity: 0;
      display: none;
    }
  }
  @keyframes circle {
    0% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      opacity: 0;
      display: none;
    }
  }
  a:hover {
    cursor: pointer;
  }
  a.link01 {
    -webkit-transition: all 0.4s cubic-bezier(0, 0.01, 0, 1.02);
    transition: all 0.4s cubic-bezier(0, 0.01, 0, 1.02);
  }
  a.link01:hover {
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  a.link02:hover {
    color: var(--font-color03);
    background: #333333;
    cursor: pointer;
  }
  .linkBl01 {
    overflow: hidden;
    display: block;
  }
  .linkBl01 img {
    -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 1, 1);
    transition: all 0.4s cubic-bezier(0.77, 0, 1, 1);
  }
  .linkBl01:hover {
    cursor: pointer;
  }
  .linkBl01:hover img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  .sp {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
    margin: 0;
  }
  header {
    display: block;
    height: 50px;
  }
  aside {
    display: none;
  }
  footer {
    width: 100%;
    left: inherit;
  }
  .l-header nav {
    display: block;
  }
  .logo {
    --sp-logo-position:calc(var(--logo-width-harf) - 60px);
    top: 15px;
    left: calc(50% - var(--sp-logo-position));
  }
  .l-gnav {
    width: 100vw;
    height: 100vh;
  }
  .l-frame {
    margin: 0 auto 60px auto;
    width: 90%;
  }
  .l-frame-outer {
    margin: 0 auto 60px auto;
    width: 90%;
  }
  .l-top .l-entry {
    margin: 40px auto 0px auto;
  }
  .l-top .l-contents {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    margin-top: 40px;
  }
  .l-list .l-contents {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
  .l-contents .l-list {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
  .l-local .l-contents .detail-content {
    grid-template-columns: auto;
  }
  .l-local .l-contents .detail-content .detail-box {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .l-local .l-contents .detail-content .detail-aside {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 40px;
  }
  .l-contents {
    margin-top: 40px;
  }
  .l-footer {
    margin: 20px auto;
    width: 100%;
    padding: 7% 7% 0 7%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-logo .f-logo img {
    width: 140px;
  }
  .f-txt {
    margin-top: 20px;
  }
  .footer-link {
    margin-top: 20px;
  }
  .boxImg img {
    width: 100%;
    height: auto;
  }
  #contents {
    overflow: hidden;
    position: relative;
  }
  .wrapper {
    width: 100%;
    padding: 0;
  }
  .container {
    min-width: 100%;
    width: 100%;
    padding: 0 3rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 80px auto 40px auto;
  }
  .container-inner {
    min-width: 100%;
    width: 100%;
    padding: 0 4%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 50px auto 40px auto;
  }
  .edit .content {
    margin-bottom: 60px;
  }
  .edit .content:last-child {
    margin-bottom: 40px;
  }
  .box-flex-content.type01 > .box-img {
    width: 100%;
  }
  .box-flex-content.type01 > .box-content {
    width: 100%;
  }
  .box-flex-content.type02 > .box-img {
    width: 100%;
  }
  .box-flex-content.type02 > .box-content {
    width: 100%;
  }
  .flexList01 .box-content, .flexList01.row4 > .box-content {
    width: 100%;
  }
  .flexList01.type01 > .box-content, .flexList01.row4.type01 > .box-content {
    width: 50%;
    float: left;
  }
  .flexList01.type02 > .box-content, .flexList01.row4.type02 > .box-content {
    width: 100%;
    display: table;
  }
  .flexList01.type02 > .box-content > .boxInner, .flexList01.row4.type02 > .box-content > .boxInner {
    display: table-row;
  }
  .flexList01.type02 > .box-content > .box-img .flexList01.type02 > .box-content > .box-txt, .flexList01.type02 > .box-content > .box-img .flexList01.row4.type02 > .box-content > .box-txt, .flexList01.row4.type02 > .box-content > .box-img .flexList01.type02 > .box-content > .box-txt, .flexList01.row4.type02 > .box-content > .box-img .flexList01.row4.type02 > .box-content > .box-txt {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
  .dlInquiry01 {
    display: block;
  }
  .dlInquiry01 > dt, .dlInquiry01 > dd {
    display: block;
  }
  .dlInquiry01 > dd {
    border-left: none;
  }
  .pc {
    display: none;
  }
  .space-topXL {
    margin-top: 40px;
  }
  .entry-box {
    margin: 40px 0 40px 0;
  }
  .inner-entry-box {
    width: 100%;
  }
  .inner-entry-box .date {
    margin-bottom: 10px;
  }
  .detail-box-contents {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    margin-top: 40px;
  }
  .similar-box {
    margin: 40px 0 60px 0;
  }
  .similar-box .similar-box-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 2%;
       -moz-column-gap: 2%;
            column-gap: 2%;
  }
  .similar-box .similar-box-inner .l-box {
    width: 48%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 557px) {
  .l-top .l-contents {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .detail-box-contents {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .l-local .l-contents .detail-content {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .container {
    min-width: 100%;
  }
  .container-inner {
    min-width: 870px;
  }
  .inner-entry-box {
    width: 90%;
  }
}
/*# sourceMappingURL=maps/style.css.map */
