@charset "utf-8";
/*////////////////////////////////////////////////////

		body,html
		header
		main
		footer

		htmlタグに対しての設定のみ記述すること

////////////////////////////////////////////////////*/
//ipad対策 (2デバイス対応の場合　マルチデバイスの場合は不要)
//body,html {
//	@include media(tab-pc){
//		min-width: $cnW;
//	}
//	@media print{
//		min-width: $cnW;
//	}
//}
html {
	@include media(sp){
	}
}

body {

	width:100%;
	max-width:2400px;
	background:var(--bg-color01);
	&:before{
		content: '';
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    border: 15px solid var(--thema-color01);
	    @include box-sizing; 
	    pointer-events: none;
	    z-index: 9999;
	}
	@include media(sp){
		min-width: 320px;
		margin:0;
	}
}


header {
	height: auto;
	width: 100%;
	z-index: 9998;
	@include sticky;
	left: 0;
	top: 0;
	@include transition($property: all, $time: 0.6s, $timing: cubic-bezier(1, 0, 0.29, 1));
	@include media(sp){
		display:block;
		height: 50px;
	}
}

main{
	width: 100%;
}


aside{

}

footer {
	width: 100%;
	position:relative;
	// background-color:var(--bg-color02);
	// color:$baseColor01;
	// border-top:1px solid var(--border-color01);
	@include media(sp){
	width:calc(100%);
	left:inherit;
	}
}




