@charset "utf-8";
/*////////////////////////////////////////////////////

	汎用レイアウト（レイアウトセット参照）
		ここではレイアウトに関わるスタイルのみ記載し、
		背景色や背景画像、ボーダー、シャドウなどのデザインバリエーションは、
		_pattern.scss内に継承クラスで指定すること
		（例：.wrapper01.style01）

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	.boxFlexContentシリーズここから
------------------------------------------------ */

.box-flex-content {
	@include flexbox;
	@include flex-direction;
	@include flex-align;
	&.reverse {
		@include flex-direction(row-reverse);
	}
	// @include media(sp){
	// 	display: block;
	// }
	/*IE9以下*/
	&.type01 {
		@include flex-align($align: start);
		&>.box-img{
			width:34.8%;
			@include media(sp){
				width: 100%;
			}
		}
		&>.box-content{
			width:65.2%;
			@include media(sp){
				width: 100%;
			}
		}
	}
	&.type02{
		// @include flex-align($align: start);
		&>.box-img{
			width:34.8%;
			@include media(sp){
				width: 100%;
			}
		}
		&>.box-content{
			width:65.2%;
			@include media(sp){
				width: 100%;
			}
		}
	}
}



/* ------------------------------------------------
	.box-flexListシリーズここから
------------------------------------------------ */

.flexList01 {
	@include flexbox;
	@include flex-direction($direction:row);
	// @include flex-wrap;
	@include flex-justify-content($justify:space-between);
	column-gap:40px;
	&>.box-content {
		@include box-sizing;
		width: 25%;
		&>.box-txt {
			// padding: $spaceR;
		}
	}
	@include media(sp){
		.box-content, &.row4>.box-content {width: 100%;}
		&.type01>.box-content,
		&.row4.type01>.box-content {
			width: 50%;
			float: left;
		}
		&.type02>.box-content,
		&.row4.type02>.box-content {
			width: 100%;
			display: table;
			&>.boxInner {
				display: table-row;
			}
			&>.box-img
			&>.box-txt {
				display: table-cell;
				width: 50%;
				vertical-align: middle;
			}
		}
	}
	&.type01{
		&>.box-content {
			@include box-sizing;
			width:13%;
			height:auto;
		}
	}
}


