@charset "utf-8";
/*////////////////////////////////////////////////////

	汎用レイアウト（レイアウトセット参照）
		ここではレイアウトに関わるスタイルのみ記載し、
		背景色や背景画像、ボーダー、シャドウなどのデザインバリエーションは、
		_pattern.scss内に継承クラスで指定すること
		（例：.wrapper01.style01）
		l-header
		l-header-inner 内側の枠
		l-header-outer　外側の枠

		l-frame > l-container > l-contents > l-box

		l-frame コンテンツ部分の大枠　ページタイトルとコンテンツの区切り
		l-container　コンテンツの内枠
		l-contents　H1見出し区切り

////////////////////////////////////////////////////*/





/* ------------------------------------------------
   header
------------------------------------------------ */
.l-header{
	margin:0 auto;
	height:var(--header-height);
	position:relative;
	width:100%;
	// background:var(--bg-color03);
	nav{
		@include media(sp){
			display:block;
		}
	}
	display:grid;
	grid-template-columns: 1fr 117px;

}
.logo{
	@include flexbox;
	@include flex-align($align: center);
	position:relative;
	width:var(--logo-width);
	--nav-harf: calc(var(--nav-width)/2);
	--logo-width-harf:calc(var(--logo-width)/2);
	--logo-position:calc(var(--logo-width-harf) - var(--nav-harf));
	left:calc(50% - var(--logo-position));
	@include media(sp){
		--sp-logo-position:calc(var(--logo-width-harf) - var(--sp-nav-gnav-width));
		top:15px;
		left:calc(50% - var(--sp-logo-position));
	}
	img{
		width:100%;
	}
}
.h-logo{
	width:100%;
	fill:var(--base-color01);
}



.gnav-botton{
	width:100%;
	height:100%;
	@include flexbox;
	@include flex-justify-content($justify:center);
	@include flex-align($align: center);
	@include flex-direction($direction:column);
	cursor:pointer;
	@include transition($property: all, $time: 0.8s, $timing: cubic-bezier(0, 0.32, 0.35, 0.96));
}

.gnav-botton-inner{
	width:48px;
	height:48px;
	background:var(--bg-color02);
	border-radius:50%;
	@include flexbox;
	@include flex-direction($direction:column);
	@include flex-justify-content($justify:center);
	@include flex-align($align: center);
	position:relative;
	&:before{
		display:inline-block;
		content:'';
		background:var(--bg-color02);
		position:absolute;
		width:48px;
		height:48px;
		top:0;
		left:0;
		border-radius:50%;
		@include transition($property: all, $time: .5s, $timing: cubic-bezier(0, 0.49, 0.05, 0.99));
	}
	&:hover{
		&:before{
			@include scale($property: 1.2);
			display:inline-block;
		}
	}
}
.gnav-line{
	width:22px;
	height:2px;
	background:var(--bg-color03);
	border-radius: 10px;
	position:relative;
	&:nth-child(1){
		top:-5px;
	}
	&:nth-child(3){
		top:5px;
	}
}



/* ------------------------------------------------
   ナビゲーション
------------------------------------------------ */

.l-gnav{
	position:fixed;
	visibility:hidden;
	width:100vw;
	height:0;
	overflow-y: scroll;
	top:0;
	background:var(--bg-color03);

	@include transition($property: all, $time: 0.8s, $timing: cubic-bezier(0, 0.92, 0.43, 1.01));
	
	@include media(sp){
		width:100vw;
		height:100vh;
	}
	.gnav-menu{
		@include flexbox;
		@include flex-direction($direction:column);
		@include flex-align($align: center);
		margin-top:250px;
		width:100%;
		height:100%;
		// @include transition($property: all, $time: 0.5s, $timing: cubic-bezier(0.58, -0.01, 1, 0.11));
	}
	.gnav-menu-inner{
		width:80%;
		@include flexbox;
		@include flex-direction($direction:column);
		// @include flex-align($align: center);
	}
	.gnav-menu-list{
		@include flexbox;
		@include flex-direction($direction:column);
		@include flex-align($align: center);
		row-gap:40px;
		li{
			font-size:var(--fSize10);
			font-weight: lighter;
			line-height:1;
			height:auto;
			font-weight:bold;			
		}
	}
	.gnav-menu-sns{
		@include flexbox;
		@include flex-direction($direction:row);
		@include flex-justify-content($justify:center);
		column-gap:50px;
		margin-top:40px;
		li{

			width:30px;
			height:30px;
			@include flexbox;
			@include flex-align($align: center);
			@include flex-justify-content($justify:center);
			position:relative;
			&:before{
				content:'';
				background:#333;
				border-radius:50%;
				display:inline-block;
				width:36px;
				height:36px;
				position:absolute;
				z-index:-1;
				@include transition($property: all, $time: .5s, $timing: cubic-bezier(0, 0.49, 0.05, 0.99));
			}
			&:hover{
				cursor:pointer;
				&:before{
					@include scale($property: 1.2);
					display:inline-block;
				}
			}
			a{
				display:contents;
			}
			img{
				width:65%;
				height:65%;
				z-index:1;
			}
			&:nth-child(2){
				img{
					width:60%;
					height:60%;
				}
			}
		}

	}
}







/* ------------------------------------------------
	l-grid l-frame
------------------------------------------------ */
.l-frame{
	margin:0 auto var(--spaceContent) auto;
	// max-width:var(--cn-max-width);
	position:relative;
	width:var(--cn-width);
	@include media(sp){
		margin:0 auto var(--spaceXL) auto;
		width:var(--cn-sp-width);
	}
	.l-local & {
		max-width:var(--local-max-width);
	}
}

.l-frame-outer{
	margin:0 auto ;
	position:relative;
	@include media(sp){
		margin:0 auto var(--spaceXL) auto;
		width:var(--cn-sp-width);
	}
}

.l-entry{
	.l-top & {
		margin: 80px auto 200px auto;
	    width: 100%;
	    @include flexbox;
	    // height: 500px;
	    align-items: center;
	    @include flex-justify-content($justify:center);
	    @include flex-direction($direction:column);
	    @include media(sp){
	    	margin: 40px auto 0px auto;
	    }
    }
    margin: 20px auto 0px auto;
    width:100%;
    .l-local & {
    	width: 100%;
    	@include flexbox;
		@include flex-justify-content($justify:center);
		@include flex-direction($direction:column);
		margin-bottom:80px;
    }
}

.l-entry-inner {
	width:80%;
	max-width:calc(var(--local-max-width)*0.8);
	@include flex-self($align: center);
	margin-top:80px;
}

.l-container{
	width:100%;
	.l-local & {
		margin-bottom:100px;
		&:last-child{
			// margin-bottom:0;
		}
	}
}


.l-contents{
	width:100%;
	margin-top:100px;
	.l-top & {
	
		@include media(sp){
			grid-template-columns: repeat(auto-fill, minmax(45%,1fr));
			column-gap:25px;
			margin-top:var(--spaceL);
		}
		@include media(spMS){
			grid-template-columns: 1fr;
			// column-gap:25px;
			margin-top:var(--spaceL);
		}
	}
	.l-list & {
		display:grid;
		justify-content:center;
		grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
		grid-template-rows: auto;
		column-gap:40px;
		row-gap:60px;
		@include media(sp){
			grid-template-columns: repeat(auto-fill, minmax(45%,1fr));
			column-gap:25px;
		}
	}

	.l-local & {

		&:last-child{
			margin-bottom:0;
		}
	}
	@include media(sp){
		margin-top:var(--spaceContentSP);

	}
}




.l-section{
	width:100%;
	max-width:var(--local-max-width);
	@include flexbox;
	@include flex-justify-content($justify:center);
	// @include flex-direction($direction:row);
	column-gap:40px;
	margin-bottom:160px;

}

.l-aside{
	width:320px;
	// background:#ffe4c4;
	@include sticky;
	top:200px;
	height:auto;
	background:var(--bg-color03);
	font-size:var(--fSize);
	border-radius:6px;
}


/* ------------------------------------------------
	l-grid l-aside
------------------------------------------------ */



/* ------------------------------------------------
	l-footer
------------------------------------------------ */

.l-footer{
	// max-width:var(--cn-max-width);
	// width:var(--cn-width);
	// margin:var(--spaceXL) auto var(--spaceS) auto;
	background:var( --thema-color01);
	padding-top:30px;
	@include media(sp){
		margin:var(--spaceR) auto;
		width:100%;
		padding:7% 7% 0 7%;
		@include box-sizing;
	}
}

.l-footer-inner{
	width:var(--cn-width);
	margin:60px auto 0 auto;
	@include flexbox;
	@include flex-justify-content($justify:space-between);
	@include flex-align($align: start);
}

.f-logo-outer{
	@include flexbox;
	@include flex-direction($direction:row);
	@include flex-justify-content($justify:space-between);
	@include flex-align($align: end);
}

.footer-logo{
	width:30%;

	@include media(sp){
		margin-bottom:20px;
	}
	.f-logo{
		img{
			width:170px;
		}
		
		@include media(sp){
			img{
				width:140px;
			}
			
		}
	}

}

.f-link-sns{
		@include flexbox;
		@include flex-direction($direction:row);
		@include flex-justify-content($justify:center);
		column-gap:15px;
	li{
		width:36px;
		height:36px;
		img{
			width:16px;
			height:16px;
		}
	}
}

.f-txt{
	font-size:var(--fSize-4);
	font-weight:normal;
	margin-top:20px;
	border-top:1px solid var(--border-color01);
	width:100%;
	padding-top:20px;
	@include media(sp){
		margin-top:20px;
	}

}


.footer-link-box{
	width:40%;
	@include flexbox;
	@include flex-justify-content($justify:space-between);
	@include flex-align($align: start);
	column-gap:40px;
}

.footer-link{
	/*margin-top:40px;*/
	width:100%;
	@include flexbox;
	@include flex-direction($direction:column);
	// @include flex-align($align: center);
	@include media(sp){
		margin-top:20px;
	}
	.f-tit{
		font-size:var(--fSize-2);
		border-bottom:1px solid var(--border-color01);
		padding-bottom:10px;
		margin-bottom:20px;
	}
	.f-link{
		@include flexbox;
		@include flex-direction($direction:column);
		row-gap:10px;

		li{
			font-size:var(--fSize-2);
			// margin-left:10px;
			&:last-child{
				margin-right:0px;
			}
		}
	}
}

.copy{
	width:var(--cn-width);
	margin:60px auto 0 auto;
	font-size:var(--fSize-4);
	@include flexbox;
    @include flex-justify-content($justify:flex-end);
    padding-bottom:15px;
}
/* ------------------------------------------------
	パンクズ
------------------------------------------------ */

.breadcrumb{
	margin-top:10px;
	@include flexbox;
	@include flex-direction($direction:row);
	@include flex-align($align: start);
	li{
		color:var(--font-color02);
		font-size:var(--fSize-5);
		a{
			// color:var(--font-color02);
		}
		&:after{
			position:relative;
			display:inline-block;
			content:'/';
			margin:0 5px;
			// color:var(--font-color02);
		}
		&:last-child{
			&:after{
				display:none;
			}
		}

	}
}




.boxImg {
	@include media(sp){
		img {
			width: 100%;
			height: auto;
		}
	}
}

.boxTxt {
	@extend %clearfix;
}


#contents{
	width:100%;
	margin:0 auto;

}


/* ------------------------------------------------
	#contentsエリアここから
------------------------------------------------ */
#contents {
	width:100%;
	@include media(sp){
		overflow:hidden;
		position: relative;
	}
}


/* ------------------------------------------------
	.wrapper コンテツの外枠
------------------------------------------------ */
.wrapper {
	max-width:1440px;
	margin:0 auto;
	position: relative;
	padding:0 5rem;
	margin-bottom: 0;
	@include media(sp){
		width: 100%;
		padding: 0;
	}
}

/* ------------------------------------------------
	.container コンテンツの枠　大見出しで区切る場合
------------------------------------------------ */
.container {
	width: 100%;
	margin: 5px auto 160px auto;
	// padding: 0 2%;
	display: block;
	@include box-sizing;
	// @extend %clearfix;
	@include media(tablet){
		min-width: 100%;
	}
	@include media(sp){
		min-width: 100%;
		width:100%;
		padding: 0 3rem;
		@include box-sizing();
		margin: 80px auto 40px auto;
	}
	@include media(spS){
		margin: 50px 0 0 0;
	}
	&.noSpace {
		padding: 0;
	}
	&.top {
		margin-bottom:0px;
		margin-top:0px;
	}
	&.top-space{
		margin-top:0px;
	}
	&:first-child{
		margin-top:0;
	}
}

.container-inner {
	width: 78.6%;
	// margin: $spaceL auto 160px auto;
	// padding: 0 2%;
	display: block;
	@include box-sizing;
	@extend %clearfix;
	@include media(tablet){
		min-width: 870px;
	}
	@include media(sp){
		min-width: 100%;
		width:100%;
		padding: 0 4%;
		@include box-sizing();
		margin: 50px auto 40px auto;
	}
	@include media(spS){
		margin: 50px 0 0 0;
	}
	&:first-child {
		margin-top: 0;
	}
	&.noSpace {
		padding: 0;
	}
}


.container-outer {
	width: 100%;
	@include box-sizing;
	&.style01{
	}
	&.style02{}
}


/* ------------------------------------------------
	.boxContent containerの内側でコンテツつを区切る場合
------------------------------------------------ */
.content{
	width: 100%;
	@include box-sizing;
	.edit & {
		margin-bottom:120px;
		@include media(sp){
			margin-bottom:60px;
		}
		&:last-child{
			margin-bottom:160px;
			@include media(sp){
				margin-bottom:40px;
			}
		}
	}
}


/* ------------------------------------------------
	.innerシリーズここから
------------------------------------------------ */
.inner01 {
	padding: 0 ;
}
/* ------------------------------------------------
	.sectionシリーズここから
------------------------------------------------ */
.section {
	// margin-bottom: $spaceLL;
	// padding: 0 $spaceR;
	@extend %clearfix;
	&:last-child {
		margin-bottom: 0;
	}
	@include media(sp){
	
	}
	@include media(spS){

	}
}







